{% extends 'base.html' %}

{% block title %}User Info{% endblock %}

{% block content %}

{# The loop is a little extra.
Use user.firstname
    user.email
    etc. #}

{% if 'username' in session %}
    {% for (k, v) in user_info.items() %}
        <p> {{ k }}: {{ v }}</p>
    {% endfor %}

    <form action="/logout" method="POST">
        {{ form.hidden_tag() }}
        <button type="submit">Logout</button>
    </form>

{% else %}
    <p> Not logged in! </p>
    <a href="/login">Want to log in?</a>
{% endif %}

{% endblock %}